html{
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url(imgs/robin-teng-MjD4FexfR4Q-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center 0;
  background-attachment: fixed;
  width: 100%;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;

}

input{
  display: none;
}
label{
  display: none;
}
img{
  width: 94px;
  height: 81px;
  margin-left: 40px;
}


.header{
  width: 100%;
  margin: 0;
  position: relative;
  height: auto;
}

.header-container{
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(86, 193, 178);
  height: 85px;
  width: 100%;
  
}


.button-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-list li {
  display: inline-block;
  margin-right: 10px;
}

.button-list li a {
  padding: 15px 50px 15px 50px;
  background-color: rgba(8, 64, 89, 0.5);
  color: #fff;
  text-decoration: none;
  border-radius: 200px;
  font-family: "Inter", sans-serif;
}

.button-list li a:hover {
  background-color: rgba(0, 23, 34, 0.5);
  transition: 0.5s;
}

.button-info {
  font-size: 40px;
  background-color: rgba(8, 64, 89, 0.5);
  color: #fff;
  border-radius: 200px;
  border: none;
  width: 100%;
  padding: 20px 40px;
  font-size: 1.5rem;
  font-family: "Marmelad", sans-serif;
  height: 50%;
}

.container{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-color: rgba(86, 193, 178);
  border-radius: 70px;
  margin-bottom: 10%;
}

.container2{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  text-align: center;
  background-color: rgba(8, 64, 89);
  border-radius: 70px;
  margin-bottom: 10%;
}

.img-fluid {
  width: 100%;
  height: auto;
  border-radius: 70px;
}

footer{
  background-color: rgba(86, 193, 178, 0.7);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3 em;
  margin: auto;
  text-align: center;
  font-family: "Inter", sans-serif;
}

/* media queries */

@media (max-width:1424px){
  .button-list li a {
    font-size: 20px;
    padding: 2px 30px 2px 30px;
    background-color: rgba(8, 64, 89, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 200px;
    font-family: "Inter", sans-serif;
  }
}



@media (max-width: 550px) {
  input:checked ~ ul {
    display: block;
  }

  .button-list li a {
    font-size: 15px;
    padding: 5px;
    background-color: rgba(8, 64, 89, 0.5);
    color: #fff;
    text-decoration: none;
    border-radius: 200px;
    font-family: "Inter", sans-serif;
  }


  li {
    margin: 15px;
  }

  label {
    box-sizing: border-box;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    user-select: none;
    background-color: rgba(86, 193, 178, 0.7);

  }

  ul {
    display: none;
    background-color: rgba(86, 193, 178, 0.7);
  }

}
